<tbody>
  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.user.name %></td>
      <td><%= favorite.picture.title %></td>
      <td><%= favorite.picture.content %></td>
      <td><%= image_tag favorite.picture.image.url %></td>
    </tr>
  <% end %>
</tbody>
<%= link_to 'Back', pictures_path %>
