<tbody>
  <% @favorites.each do |favorite| %>
   <ul class="list-group">
      <li>USER:<%= favorite.user.name %></li>
      <li>TITLE:<%= favorite.picture.title %></li>
      <li>CONTENT:<%= favorite.picture.content %></li>
      <li>PICTURE:<%= image_tag favorite.picture.image.url %></li>
    </ul>
  <% end %>
</tbody>
<%= link_to 'Back', pictures_path %>
