<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.user.name %></td>
        <td><%= picture.title %></td>
        <td><%= link_to '詳細', picture %></td>
        <td><%= link_to '編集', edit_picture_path(picture) %></td>
        <td><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to '新しい投稿', new_picture_path %>
